@import "../../utils/globals.scss";

form {
    background-color: white;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding: 10px 40px 30px 40px;
    border-radius: 10px;
}

.form-dialog {
    & .MuiDialog-paper {
        @media only screen and (width >= $tablet-width) {
            width: 70%;
            height: 50%;
        }

        @media only screen and (width >= $large-mobile-width) and (width < $tablet-width) {
            width: 80%;
            height: 50%;
        }

        @media only screen and (width <= $large-mobile-width) {
            width: 100%;
            height: 50%;
        }
    }
}
