$default-font: Verdana, Geneva, Tahoma, sans-serif;

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.custom-btn {
    background-color: #09f534;
    width: 180px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-top: 25px;
    font-size: 20px;
    cursor: pointer;
}
