@import "./utils/globals.scss";

* {
    font-family: $default-font;
}

body {
    background-color: #dbf26e;
    background-image: linear-gradient(
        319deg,
        #dbf26e 0%,
        #61fa74 37%,
        #1cfdd6 100%
    );
    margin: 0;
    padding: 0;
}

button {
    font-family: $default-font;
}
